.table-box {
	display: inline-block;
	width: 36%;
	min-width: 400px;
	margin-right: 20px;
	margin-bottom: 20px;
	min-height: 200px;
	padding: 10px;
	border-radius: 5px;
}

.table-data .left {
	text-align: left;
}
.table-data .center {
	text-align: center;
}
.table-data th {
	padding: 5px;
}